* {
    color: var(--wedding-brown);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'La Belle Aurore', cursive;*/
}
:root{
    --wedding-purple: #F4F0F6;
    --wedding-brown: #856E4C;
    --wedding-brown-opacity: #856E4C60; 
    /*--wedding-green: #E8ECDB;*/
    --wedding-green: #E7EADD;
    --wedding-dark-brown: #4B3B23;
    
}

/* CSS HEX 
--shadow: #8B8670ff;
--alabaster: #E7EBE5ff;
--white: #FFFFFFff;
--ebony: #6E6C5Aff;
--alabaster-2: #E2E7DFff;
--artichoke: #8D8D7Cff;

*/
img {
    max-width: 100%;
    max-height: 100%;
}

body{
    width: 100%;
    background-color: #FFFFFFff;
}

li {
    list-style: none;
}

/*----- LANGUAGE CONTAINER------*/
.language-container{
    background-color: var(--wedding-purple);
    display: flex;
    justify-content: flex-end;
}
.language-container a{
    text-decoration: none;
    margin: 0.2rem 0.4rem 0.2rem 0;
}
.language-container p{
    margin: 0.2rem 0.4rem 0.2rem 0;
}
.language-container a:hover{
    color: black;
}

/*-------- NAV BAR---------------*/
.topnav-container{
    position: sticky;
    z-index: 100;
    top: 0;
    max-height: 120px;
    background-color: var(--wedding-purple);
    display: flex;
    justify-content: center;
}

.topnav{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 100%;

}

.topnav .logo{
    background-color: var(--wedding-purple);
    border-radius: 50%;
}

.topnav a {
    color: var(--wedding-brown);
    padding: 15px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  
  .topnav a:hover:not(.logo) {
    background-color: var(--wedding-brown-opacity);
    border-radius: 20px;
    color: white;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .topnav img {
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  .toggle-button{
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .bar{
    height: 3px;
    width: 100%;
    background-color: var(--wedding-brown);
    border-radius: 10px;
  }
  .hidden-logo{
    display: none;
  }
  .hidden-logo img{
    height: 105px;
    width: 105px;
    border-radius: 50%;

  }


/*------ GENERAL STYLE FOR MAIN ------*/

main{
    max-width: 1024px;
    margin: auto;
    background-color: #fff;
    padding: 0;
}


/*------- HEADER / COUNTDOWN --------*/
.header{
    position: relative;
    display: flex;
    height: 75%;
    justify-content: center;
    flex-direction: column;
    background-color: var(--wedding-green);
    background-image: url("images/bakgrund3.png");
    background-size: 100% 100%;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0 ;
}

.countdown-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'La Belle Aurore';
    
}

.countdown-container div{
    width: 25%;
    text-align: center;
    font-size: 40px;
    color: var(--wedding-brown);
    font-weight: bolder;
    
}

.countdown-timer-values{
    font-size: 60px;
    font-weight: bolder;
}

/*--------- WEDDING INFO --------------*/
.wedding-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #F4F0F640;
}
.wedding-info h1{
    font-family: 'La Belle Aurore';
    padding-top: 1rem;
}
.wedding-info{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    margin: 0 2.5rem 0 2.5rem;

}
.wedding-info p{
    margin: 0.5rem 1rem 1rem 1rem;
}

.wedding-info-image{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex: 1;

}

.wedding-info-image img{
    border-radius: 10%;
    width: 100%;
    height: auto;
}
/*------- WEDDING DETAILS -----------*/
.details-title-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--wedding-green);
    font-family: 'la Belle Aurore';
    font-size:large;
}
.details-title-container h1{
    z-index: 3;
}
/*.details-title-container img{
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: 1;
}*/

.details-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #F4F0F640;
}

.details-image-container{
    display: flex;
    justify-content: center;
    flex: 1;
    height: 50%;
    width: 50%;
}

.details-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.location-title{
    position: relative;
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--wedding-purple);
}

/*.location-title img{
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
}*/
.details-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20% 10% 10% 10%;
}

.details-location h2{
    padding-bottom: 1rem;
}


.directions-button-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.get-directions-button{
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--wedding-green);
    font-size: 1rem;
    padding: 15px 25px;
}

.get-directions-button:hover{
    background-color: var(--wedding-brown-opacity);
    color: var(--wedding-purple);
}

/*-------DRESS CODE AND SPEECHES SECTION----*/
.details2-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.Dresscode-container{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #E8ECDB40;
}

.Speeches-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F4F0F640;
}
.accomodation-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #E8ECDB40;
}

.dresscode-title{
    position: relative;
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-top: 0.5rem;
    background-color: var(--wedding-green);
}

.dresscode-title h1{
    z-index: 3;
}

.speeches-title{
    position: relative;
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-top: 0.5rem;
    background-color: var(--wedding-purple);
}

.speeches-title h1{
    z-index: 3;
}

.accomodation-title{
    position: relative;
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-top: 0.5rem;
    background-color: var(--wedding-green);
}

.accomodation-title h1{
    z-index: 3;
}

.accomodation-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 0 10%;
}

.speeches-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 0 10%;
}
.dresscode-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 0 5%;

}
.dresscode-text h1{
    font-family: 'la Belle Aurore';
}

.dresscode-text a:hover{
    color: var(--wedding-purple);
}

.emails{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.emails a{
    text-decoration: none;
}
.emails a:hover{
    color: var(--wedding-brown-opacity)
}

/*---------WEDDING GIFTS SECTION*/
.wedding-gift-title-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--wedding-purple);
    font-family: 'la Belle Aurore';
    font-size:large;
}
.wedding-gift-title-container h1{
    z-index: 3;
}

/*.wedding-gift-title-container img{
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
}*/

.wedding-gift-container{
    display: flex;
    justify-content: space-between;
    background-color: #F4F0F640;
}
.wedding-gift-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex:1;
    margin: 0 10% 0 10%;
}
.wedding-gift-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.wedding-gift-image img{
    border-radius: 10%;
    border: solid var(--wedding-brown);
    height: 50%;
    width: auto;
}

/*------- RSVP HOMEPAGE SECTION------*/
.rsvp-title-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--wedding-green);
    font-family: 'la Belle Aurore';
    font-size:large;
}
.rsvp-title-container h1{
    z-index: 3;
}

/*.rsvp-title-container img{
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
}*/

.rsvp-container{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8ECDB40;

}

.rsvp-text{
    height: 75%;
    width: 50%;
    border: solid var(--wedding-brown);
    border-radius: 10px;
    background-color: var(--wedding-purple);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}


/*--------- MISCELLANEOUS--------*/
/*    ---- Title backgriund images ----- */
.green-title-background{
    position: absolute;
    opacity: 0.2;
    z-index: 1;
    width: 100%;
}

.purple-title-background{
    position: absolute;
    opacity: 0.1;
    z-index: 1;
    width: 100%;
}

/*------- FOOTER SECTION------*/

.footer{
    position: relative;
    width: 100%;
    justify-content: space-around;
    background-color: var(--wedding-purple);
    display: flex;
    align-items: center;
}

.col-container{
    width: 100%;
    max-width: 1024px;

    display: flex;
    justify-content: space-around;

}

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.col-1 a{
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;
}

.col-2-map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    border: solid 3px var(--wedding-brown);
}
/*.footsteps{
    position: absolute;
    width: 20%;
    height: auto;
    z-index: 10;
    top: 0;
    left: 2%;
}
.footsteps img{
    opacity: 0.1;
}

.footsteps img:hover{
    opacity: 1;
}*/

.footstep-container{
    position: relative;
    height: 50px;
    background-color: var(--wedding-purple);
    display: flex;

}

.footstep-container a{
    width: 100%;
}

.footstep-container img{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
}

.footstep-container img:hover{
    opacity: 1;
}



@media screen and (max-width: 600px){
    .topnav-container{overflow: hidden;}
    .toggle-button{display: flex;}
    .topnav{display: none;}
    .logo {display: none;}
    .hidden-logo{display: flex; width: 100%; margin: 0 0 0 1rem;}


}

@media screen and (max-width: 600px){
    .topnav-container{flex-direction: column; max-height: 400px;}
    .topnav.responsive{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .topnav.responsive a{
        width: 100%;
        text-align: end;
        padding-right: 1rem;
        
    }
    .topnav.responsive a:hover{
        border-radius: 0%;
    }

}

  @media screen and (max-width: 600px){
   /*Main*/
    main{
        padding: 0;
        margin: 0;
    }
    /*Countdown container*/

    .header h1{font-size: 25px;}
    .countdown-container div {font-size: 1.5em;}
    .countdown-container .countdown-timer-values {font-size: 40px;}

    /*Wedding info*/
    .wedding-info-container {flex-direction:column-reverse;}
    /*Details 1*/
    .details-container {display: block;}
    .details-image-container {width: 100%; height: 75%; margin-bottom: 2rem;}
    .details-location {margin: auto; padding: 2rem 1rem 2rem 1rem;}

    /*Details 2*/
    .details2-container{display: block;}
    .details2-container .accomodation-text{ margin: 2rem;}
    .details2-container .speeches-text { margin: 2rem;}
    .details2-container .dresscode-text { margin: 2rem;}

   
    /*Gifts container*/
    .wedding-gift-container {display: block;}
    .wedding-gift-container .wedding-gift-text {padding: 1rem 0 0 0;}
    .wedding-gift-container .wedding-gift-image {padding: 1rem 0 1rem 0;}
    .wedding-gift-container .wedding-gift-image img{height: 50%; width: 50%; border: solid var(--wedding-brown);}
    /**/
    /*Footer*/
    .footer .col-2-map {display: none;}
    .footer .col-1 {padding: 1rem;}


}


