* {
    color: var(--wedding-brown);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'La Belle Aurore', cursive;*/
}
:root{
    --wedding-purple: #F4F0F6;
    --wedding-brown: #856E4C;
    --wedding-brown-opacity: #856E4C60; 
    /*--wedding-green: #E8ECDB;*/
    --wedding-green: #E7EADD;
    
}

/* CSS HEX 
--shadow: #8B8670ff;
--alabaster: #E7EBE5ff;
--white: #FFFFFFff;
--ebony: #6E6C5Aff;
--alabaster-2: #E2E7DFff;
--artichoke: #8D8D7Cff;

*/
img {
    max-width: 100%;
    max-height: 100%;
}

body{
    width: 100%;
    background-color: #FFFFFFff;
}

li {
    list-style: none;
}

/*-------- NAV BAR---------------*/
.topnav-container{
    background-color: var(--wedding-purple);
    display: flex;
    justify-content: center;

}

.topnav{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 100%;

}

.topnav a {
    color: var(--wedding-brown);
    padding: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover:not(.logo) {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .topnav img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .toggle-button{
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .bar{
    height: 3px;
    width: 100%;
    background-color: var(--wedding-brown);
    border-radius: 10px;
  }
  .hidden-logo{
    display: none;
  }
  .hidden-logo img{
    height: 105px;
    width: 105px;
    border-radius: 50%;

  }


/*------ GENERAL STYLE FOR MAIN ------*/

main{
    max-width: 1024px;
    margin: auto;
    background-color: #fff;
    padding: 1rem;
}


/*------- HEADER / COUNTDOWN --------*/
.header{
    position: relative;
    display: flex;
    height: 75%;
    justify-content: center;
    flex-direction: column;
    background-color: var(--wedding-green);
    background-image: url("Bakgrundsbilder/Matilda\ Johansson_s\ team\ library1024_2.jpg");
    background-size: 100% 100%;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.countdown-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'La Belle Aurore';
    
}

.countdown-container div{
    width: 25%;
    text-align: center;
    font-size: 40px;
    color: black;
}

.countdown-timer-values{
    font-size: 60px;
}

/*--------- WEDDING INFO --------------*/
.wedding-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #F4F0F640;
    padding: 0 10% 0 10%;
}
.wedding-info h1{
    font-family: 'La Belle Aurore';
}
.wedding-info{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.wedding-info p{
    margin: 2rem;
}

.wedding-info-image{
    display: flex;
    justify-content: center;
    padding: 30px;

}

.wedding-info-image img{
    border-radius: 10%;
}
/*------- WEDDING DETAILS -----------*/
.details-title-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--wedding-green);
    font-family: 'la Belle Aurore';
    font-size:large;
}
.details-title-container h1{
    z-index: 3;
}
.details-title-container img{
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: 1;
}

.details-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #F4F0F640;
}

.details-image-container{
    display: flex;
    justify-content: center;
    flex: 1;
    height: 50%;
    width: 50%;
}

.details-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.location-title{
    position: relative;
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--wedding-purple);
}

.location-title img{
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
}
.details-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30% 10% 0% 10%;

}

.directions-button-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.get-directions-button{
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--wedding-green);
    font-size: 1rem;
    padding: 15px 25px;
}

.get-directions-button:hover{
    background-color: var(--wedding-brown-opacity);
    color: var(--wedding-purple);
}

/*-------DRESS CODE AND SPEECHES SECTION----*/
.details2-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.Dresscode-container{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #E8ECDB40;
}

.Speeches-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F4F0F640;
}
.accomodation-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #E8ECDB40;
}

.dresscode-title{
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-top: 0.5rem;
    background-color: var(--wedding-green);
}

.speeches-title{
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-top: 0.5rem;
    background-color: var(--wedding-purple);
}

.accomodation-title{
    font-family: 'la Belle Aurore';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding-top: 0.5rem;
    background-color: var(--wedding-green);
}

.accomodation-text{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 0 5%;
}

.speeches-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 0 5%;
}
.dresscode-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 0 5%;

}
.dresscode-text h1{
    font-family: 'la Belle Aurore';
}
.emails{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.emails a{
    text-decoration: none;
}
.emails a:hover{
    color: var(--wedding-brown-opacity)
}

/*---------WEDDING GIFTS SECTION*/
.wedding-gift-title-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--wedding-purple);
    font-family: 'la Belle Aurore';
    font-size:large;
}

.wedding-gift-container{
    display: flex;
    justify-content: space-between;
    background-color: #F4F0F640;
}
.wedding-gift-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex:1;
    margin: 0 5% 0 5%;
}
.wedding-gift-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.wedding-gift-image img{
    border-radius: 10%;
    height: 75%;
    border: solid var(--wedding-brown);
    width: auto;
}

/*------- RSVP HOMEPAGE SECTION------*/
.rsvp-title-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--wedding-green);
    font-family: 'la Belle Aurore';
    font-size:large;
}

.rsvp-container{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8ECDB40;

}

.rsvp-text{
    height: 75%;
    width: 50%;
    border: solid var(--wedding-brown);
    background-color: var(--wedding-purple);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}




/*------- FOOTER SECTION------*/

.footer{
    position: relative;
    width: 100%;
    justify-content: space-around;
    background-color: var(--wedding-purple);
    display: flex;
    align-items: center;
}

.col-container{
    width: 100%;
    max-width: 1024px;

    display: flex;
    justify-content: space-around;

}

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.col-1 a{
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;
}

.col-2-map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    border: solid 3px var(--wedding-brown);
}
.footsteps{
    position: absolute;
    width: 20%;
    height: auto;
    z-index: 10;
    top: 0;
    left: 2%;
}
.footsteps img{
    opacity: 0.1;
}

.footsteps img:hover{
    opacity: 1;
}



@media screen and (max-width: 600px){
    .toggle-button{display: flex;}
    .topnav{display: none;}
    .logo {display: none;}
    .hidden-logo{display: flex; width: 100%;}

}

@media screen and (max-width: 600px){
    .topnav-container{flex-direction: column;}
    .topnav.responsive{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .topnav.responsive a{
        width: 100%;
    }

}

  @media screen and (max-width: 600px){
   /*Main*/
    main{
        padding: 0;
        margin: 0;
    }
    /*Countdown container*/
    .countdown-container div {font-size: 2em;}
    .countdown-container .countdown-timer-values {font-size: 40px;}

    /*Wedding info*/
    .wedding-info-container {flex-direction:column-reverse;}
    /*Details 1*/
    .details-container {display: block;}
    .details-image-container {width: 100%; height: 75%; margin-bottom: 2rem;}
    .details-location {margin: auto; padding: 2rem 0 2rem 0;}

    /*Details 2*/
    .details2-container{display: block;}
    .details2-container .accomodation-text{ margin: 2rem;}
    .details2-container .speeches-text { margin: 2rem;}
    .details2-container .dresscode-text { margin: 2rem;}

   
    /*Gifts container*/
    .wedding-gift-container {display: block;}
    .wedding-gift-container .wedding-gift-text {padding: 1rem 0 0 0;}
    .wedding-gift-container .wedding-gift-image {padding: 1rem 0 1rem 0;}
    .wedding-gift-container .wedding-gift-image img{height: 50%; width: 50%; border: solid var(--wedding-brown);}
    /**/
    /*Footer*/
    .footer .col-2-map {display: none;}
    .footer .col-1 {padding: 1rem;}


}


